{% load i18n %}

<script>
    var messagebox = {
        props: ["socket"],
        props: ["currentthread", "showmessagebox", "socket"],
        template: `
        <div v-if='!threadreported' class='row'>
            <div class='col s12 m12 l12'>
                <textarea v-model='newmessage' 
                    name='message' id='message-textbox' 
                        cols='30' rows='100'>
                </textarea>
                
                <button @click='sendemailmessage' class='btn-large'>
                    {% trans "New email message" %}
                </button>

                <button @click='sendchatmessage' class='btn-large red'>
                    {% trans "Chat message" %}
                </button>
            </div>
        </div>
        `,
        data() {
            return {
                threadreported: false,
                newmessage: "",
            }
        },
        beforeDestroy() {
            // this.$props.socket.close()
        },
        methods: {
            sendchatmessage: function () {
                var self = this
                var data = {
                    method: "new", 
                    thread: self.$props.currentthread,
                    message: self.$data.newmessage
                }
                self.$props.socket.send(JSON.stringify(data))
                self.$data.newmessage = ""
            },
            sendemailmessage: function () {
                console.log("NEW EMAIL MESSAGE")
                // var self = this
                // var formdata = new FormData()
                // formdata.append("message", this.$data.newmessage)

                // var xhr = new XMLHttpRequest()
                // xhr.responseType = "json"
                // xhr.onloadend = function () {
                //     self.$data.newmessage = ""
                //     self.$emit("sendemailmessage", xhr.response)
                // }
                // xhr.open("POST", "{% url 'forum:new' 'ac3368e402' %}")
                // xhr.send(formdata)
            },
        }
    }
</script>
