{% load i18n %}

<script>
    var messagebox = {
        props: ["socket"],
        props: ["currentthread", "showmessagebox", "socket"],
        template: `
        <div v-if='!threadreported' class='row'>
            <div class='col s12 m12 l12'>
                <textarea v-model='newmessage' 
                    name='message' id='message-textbox' 
                        cols='30' rows='100'>
                </textarea>
                
                <button @click='sendemailmessage' class='btn-large'>
                    {% trans "New email message" %}
                </button>

                <button @click='sendchatmessage' class='btn-large red'>
                    {% trans "Chat message" %}
                </button>
            </div>
        </div>
        `,
        data() {
            return {
                threadreported: false,
                newmessage: "",
            }
        },
        beforeDestroy() {
            // this.$props.socket.close()
        },
        methods: {
            reset: function () {
                this.$data.newmessage = ""
            },
            sendchatmessage: function () {
                var self = this
                var data = self.basemessage()
                data["email"] = false

                self.$props.socket.send(JSON.stringify(data))
                self.reset()
            },
            sendemailmessage: function () {
                var self = this
                var emaildata = self.basemessage()
                
                emaildata["email"] = true
                self.$props.socket.send(JSON.stringify(emaildata))
                self.reset()
            },
            basemessage: function () {
                var data = {
                    method: "new",
                    thread: this.$props.currentthread,
                    message: this.$data.newmessage
                }
                return data
            }
        }
    }
</script>
