{% load i18n %}

<script>
    Vue.component("button-component", {
        props: ["method", "icon", "name"],
        delimiters: ["[[", "]]"],
        template: `
        <div @click="sendaction" class="btn white black-text">
            <i class="material-icons left">[[ icon ]]</i>
            [[ name ]]
        </div>
        `,
        methods: {
            sendaction: function (method) {
                this.$emit("sendaction", this.$props.method)
            }
        }
    })

    Vue.component("action-buttons", {
        props: ["currentthread"],
        name: "ActionButtons",
        delimiters: ["[[", "]]"],
        template: `
        <div class="btn-group">
            <div @click="refreshpage" class="btn white black-text">
                <i class="material-icons">refresh</i>
            </div>
            
            <div @click="reportthread" class="btn white black-text">
                <i class="material-icons left">block</i>
                [[ currentthread ]]
            </div>
        </div>
        `,
        methods: {
            refreshpage: function () {
                window.location.reload()
            },
            reportthread: function () {
                var self = this
                var formdata = new FormData()

                var xhr = new XMLHttpRequest()
                xhr.responseType = "json"
                xhr.onloadend = function () {
                    window.location.reload()
                }
                
                xhr.open("POST", "{ url 'forum:report' first_thread_reference }")
                xhr.send(formdata)
            }
        }
    })
</script>
