{% load i18n %}

<script>
    var messagesinterface = {
        props: ["threads", "messages", "currentthread", "socket"],
        delimiters: ["[[", "]]"],
        template: `
        <div class="windows">
            <div class="threads-window">
                <div @click="selectthread(thread)" 
                        v-for="thread in threads" :key="thread.reference" 
                            class="thread" :class="reported(thread.reported)">
                    [[ thread.reference ]]
                </div>

                <a class="thread modal-trigger" href="#choose_user">
                    {% trans "Create thread" %}
                </a>
            </div>
            
            <message-card-component 
                v-bind:messages="messages"
                v-bind:socket="socket"
            />
        </div>
        `,
        methods: {
            selectthread: function (thread) {
                this.$emit("selectthread", thread.reference)
            },
            reported: function (state) {
                return {
                    "red": state ? true : false
                }
            }
        }
    }
</script>
