@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
html {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
}

.windows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.windows .threads-window {
  position: relative;
  height: 600px;
  text-align: justify;
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: #0D7E83;
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: .5rem;
}

.windows .threads-window .footer:not(.textarea) .btn, .windows .threads-window .footer:not(.textarea) .btn-large {
  width: 100%;
}

.windows .messages-window {
  position: relative;
  height: 600px;
  text-align: justify;
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: #e0e0e0;
  min-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.windows .messages-window .footer:not(.textarea) .btn, .windows .messages-window .footer:not(.textarea) .btn-large {
  width: 100%;
}

.windows .messages-window .messages {
  height: 80%;
  overflow-x: hidden;
  overflow-x: auto;
  margin-bottom: 2rem;
}

.ql-snow {
  background-color: white;
}

.ql-toolbar.ql-snow {
  border: 1px solid black;
  border-bottom: 1px solid #ccc;
}

#editor {
  height: 70px;
  font-family: "Roboto";
  font-size: 14px;
  border: 1px solid black;
  border-top: none;
}

.thread {
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 0.5rem;
  height: 50px;
  padding: .5rem;
  text-align: center;
  line-height: 2;
  font-weight: 500;
}

.thread:hover {
  background-color: 0;
}

.message {
  position: relative;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  height: auto;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  width: 90%;
  margin: 0 auto;
}

.message .text {
  max-width: 90%;
}

.message i {
  position: absolute;
  font-size: 20px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #9e9e9e;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 1.5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.message i:hover {
  background-color: #e0e0e0;
  color: rgba(158, 158, 158, 0.7);
}

.message:hover {
  cursor: pointer;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.message:not(:first-child) {
  margin-top: 0.5rem;
}
/*# sourceMappingURL=messages.css.map */