{% extends "components/modals/base.html" %}
{% load i18n %}

{% block modal_title %}
    {% trans "Choose user" %}
{% endblock %}

{% block modal_id %}choose_user{% endblock %}

{% block modal_content %}
    <form action="{% url 'forum:thread:add_user' %}" method="post" id="choose_user_modal">        
        
        <div class="input-field">            
            {% for user in users %}
                <p>
                    <label>
                        <input type="checkbox" id="user" name="user" value="{{ user.username }}">
                        <span>
                            <div class="card-panel">
                                {{ user.username }}
                            </div>
                        </span>
                    </label>
                </p>
            {% endfor %}
        </div>

        <div class="input-field">
            <input type="hidden" name="reference" value="">
        </div>

        <button type="submit" class="btn btn-large waves-effect waves-light">
            {% trans "Add user" %}
        </button>
    </form>
{% endblock %}
