{% extends "components/modals/base.html" %}
{% load i18n %}

{% block modal_title %}
    {% trans "Choose user" %}
{% endblock %}

{% block modal_id %}choose_user{% endblock %}

{% block modal_content %}
    <form action="{% url 'forum:new_thread' %}" method="post">
        <div class="switch">
            <label>
                Privé
                <input type="checkbox" name="public">
                <span class="lever"></span>
                Public
            </label>
        </div>

        <div class="input-field">
            <input type="text" name="name" id="name">
        </div>
        
        {% for user in users %}
            <p>
                <label>
                    <input type="checkbox" id="user" name="users" value="{{ user.username }}">
                    <span>
                        <div class="card-panel">
                            {{ user.username }}
                        </div>
                    </span>
                </label>
            </p>
        {% endfor %}

        <button type="submit" class="btn btn-large waves-effect waves-light">
            {% trans "Create thread" %}
        </button>
    </form>
{% endblock %}
